body{
    background: #0d1521 !important;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: background 1s;
}
button:hover{
    background: #000;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: all ease-in-out .05s;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Segoe UI Light",sans-serif;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 1s;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}
.info{
    display: block;
    padding:25px;
    padding-left:30px;
}
h1{
    font-family: "Segoe UI Light", sans-serif;
    text-transform: capitalize;
    display: inline;
}
.logo{
    /* display: inline; */
    height: 50px;
    border-radius: 50%;
    margin:10px;
    
    /* margin-left: 50px; */
    
}
span{
    background-image: url('/assets/img/logo.jfif');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
    text-indent: -10000px;
    /* height: 50px;
    width: 50px; */
}
.footer{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
a{
    color:white;
    font-size: 1em;
    text-decoration: none;
    transition: all 1s;
}
a:hover{
    font-size: 1.5em;
}

.todo{
    display: flex;
    border-bottom: 1px solid white;
}

.edit-button{
    padding: unset;
    float: unset;
    width: unset;
}

.hidden-form{
    visibility: hidden;
}

.show-form{
    visibility: visible !important;
}